.gitattributes   
.gitignore
.testignore
gulpfile.js
tsconfig.json
tslint.json
vsc-extension-quickstart.md
yarn.lock

.vscode/**
.vscode-test/**
images/**
out/test/**
out/**/*.map
preview-src/**
python-preview/**
pythonFiles/pydev/__pycache__/**
src/**
testExtension/**